button {
    width: 15%;
    min-height: 48px;
    min-width: 48px;
    color: $btn-bg;
    // border-radius: 10px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:hover{
    filter: brightness(120%);
    box-shadow: 5px 2px 5px #000;
}