body {
    display: flex;
    flex-direction: column;
    .main-container {
        display: flex;
        flex-flow: column;
        background-color: #eee;

        .heading-container {
            position: sticky;
            top: 0;
            margin-bottom: 1 rem;
            padding: 0.75rem;
            // border: 2px solid red;
            display: flex;
            align-items: center;
            // justify-content: center;

            .heading-text {
                display: flex;
                font-size: 2rem;
                font-weight: 700;
                color: $heading-color;
            }

            #icon {
                background-image: url("../../src/img/check-list.png");
                background-size: cover;
                height: 1.95rem;
                width: 1.95rem;
                margin-left: 5px;
            }
        }

        .input-container {
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            margin: auto;
            width: 90%;
            border-radius: 35px;

            .input-task {
                display: flex;
                border-radius: 35px;
                background-color: #fff;

                input {
                    min-height: px-to-rem(48px);
                    border: none;
                    // border: 2px solid yellow;
                    border-radius: 35px;
                    // flex-grow: 1;
                    width: 65%;
                    align-items: center;
                    padding-left: 15px;
                    // background-color: $btn-bg;
                    font-size: 14px;
                    color: #fff;
                }

                input:focus {
                    outline: none;
                }
            }

            #Add {
                // border: 2px solid firebrick;
                background-color: #333;
                border-radius: 35px;
                width: 36%;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }
        }
    }
}
