.temp {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    // background: steelblue;
    color: #909090;
    font-size: x-large;
    width: 100%;
    margin: auto;
}
